<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Objects</h3>
    </div>
    <ul class="list-group">
        {{#objects}}
            <li class="list-group-item"><a href="#" id="{{jsondocId}}" rel="object">{{name}}</a></li>
        {{/objects}}
    </ul>
</div>